@import 'tailwindcss';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: #b13b55;
  color: white;
}

article {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}
