@import 'tailwindcss';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: #b13b55;
  color: white;
}

article {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}
